<div class="container">
    <div class="row">
        <div class="col col-md-2">
        </div>
        <div class="col col-md-4">
            <span>Create Town</span>
            <hr>
            <form>
                <div class="form-group">
                    <label for="inputEmail">Town:</label>
                    <input type="email" class="form-control" id="inputEmail" ng-model="town.townDetail.name">
                </div>
                <button class="btn btn-primary" ng-click="town.removeTown(town.townDetail.id)">Delete</button>
                <button class="btn btn-primary">Cancel</button>
            </form>
        </div>
        <div class="col col-md-6">
        </div>
    </div>
</div>